@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Universidade X</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Universidade X</h2>
        <p>
            This is an exercise for a job application.
        </p>
    </div>
</div>